html,
body,
#root,
.wrapper {
  height: 100%;
}

/////////////////////////////////////////////////////////

@font-face {
  font-family:'Helvetica-Neue';
  src: url(./Assets/Fonts/Helvetica-Neue.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

//////////////////////////////////////////////////////////
